*{
  box-sizing: border-box;
  margin:0 auto;
  background: #4a9ff5;
}

.container{
}
  .cabecera{
    min-width: auto;
  }
    .imagenes{
      border-radius: 5px;
    }
  .menu{
    margin-top: 10px;
  }
  .borde1{
    border: 1px #2a567a solid;
  }
  .tronco{
    margin-top: 200px;
  }
  .texto{
    min-height:200px;
    font-size: 1em;
  }
  .espacio{
    margin-bottom: 5px;
  }

@media screen and ( min-width:0px ) and ( max-width:574px ){
  .btn-ancho{
    width:200px;}
  .tronco{
    margin-top: 170px;}
  .texto{
    font-size: 0.75em;
  }
}
@media screen and ( min-width:575px ) and ( max-width:766px ){
  .btn-ancho{
    width:200px;
  }
  .tronco{
    margin-top: 150px;}
    .texto{
      font-size: 0.75em;
    }
}
@media screen and ( min-width:767px ) and ( max-width:990px ){
  .btn-ancho{
    width:200px;
  }
  .tronco{
    margin-top: 130px;}
}
@media screen and ( min-width:991px ) and ( max-width:1279px ){
  .btn-ancho{
    width:200px;
  }
}
@media screen and ( min-width:1280px ){
  .btn-ancho{
    width:150px;
  }
}
*/
