*{
  box-sizing: border-box;
  margin:0 auto;
  background: #4a9ff5;
}

.container{
  background: #4a9ff5;
}
  .cabeza{
  }
    .superior{
      margin-top: 5px;
    }
      .logo{
        height: 150px;
      }
      .portada{
        height: 150px;
        width: 750px;
      }
      .redes{
        height: 150px;
      }
        .sociales{
        margin-top: 10px;
        padding: 0px;
        }
    .nav{
      margin-top: 5px;
      height: auto;
    }
      .ancho{
        width:300px;
        margin-left: 10px;
        background:rgba(50,0,150,0.6)
      }
  .cuerpo{
    margin-top: 215px;
    padding: 5px;
  }
    .fotos{
    /*  min-height: 1200px;*/
    }
    .descripcion{
      min-height: 500px;
    }
  .extremidad{
    margin-top:5px;
    text-align: center;
    align-items: center;
  }
