/* Ultima modificación: 19-octubre-2018 */
*{
  box-sizing: border-box;
  margin:0 auto;
}

/*.cinema-body {
  background: url(../img/fondo.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}*/

.container{
}
  .cabecera{
    height: 125px;
  }
    .imagenes{
      border-radius: 5px;
    }
  .menu{
    margin-bottom: 10px;
  }
  .borde1{
    border: 1px #2a567a solid;
  }
  .tronco{
    margin-top: 156px;
  }
  .texto{
    min-height:200px;
    font-size: 1em;
  }
  .titulo{
    color: yellow;
    font-size: 1rem;
  }
  .espacio{
    margin-bottom: 5px;
  }
  .extremidad{
    height:50px;
    padding-top: 20px;
  }
  .user-data {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 1rem;
  }


@media screen and ( min-width:0px ) and ( max-width:574px ){
  .btn-ancho{
    width:200px;}
  .tronco{
    margin-top: 170px;}
  .texto{
    font-size: 0.75em;
  }
}
@media screen and ( min-width:575px ) and ( max-width:766px ){
  .btn-ancho{
    width:200px;
  }
  .tronco{
    margin-top: 150px;}
    .texto{
      font-size: 0.75em;
    }
}
@media screen and ( min-width:767px ) and ( max-width:990px ){
  .btn-ancho{
    width:200px;
  }
  .tronco{
    margin-top: 130px;}
}
@media screen and ( min-width:991px ) and ( max-width:1279px ){
  .btn-ancho{
    width:200px;
  }
}
@media screen and ( min-width:1280px ){
  .btn-ancho{
    width:150px;
  }
}
